.container {
    width: 150px;
    height: 211px;
    margin: 10px 10px;

    background-size: cover;
    display: flex;
    align-items: flex-end;
    
    border-radius: 0.25rem;
}

p{
    margin-left: 5px;
    color: white;
}

h3{
    color: white;
}

span{
    display: flex;
    align-items: baseline;
}

.text{
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(0 0 0 / 59%) 0%, rgba(0,0,0,0) 95%);
    padding-left: 10px;
    border-radius: 0.25rem;
}
