nav{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px 50px;
    height: fit-content;
    border-bottom: 1px solid #D1D1D1;
}

@media screen and (max-width: 391px){
    nav{
    position: absolute;
    top: 88%;
    padding: 20px 0 30px;
    width: 100%;
    border: none;
    background-color: white;
    }
}

svg{
    height: 17px;
    padding: 15px 0px;
}
