input{
    margin-top: 10px;
    width: 260px;
    height: 45px;
    border: none;
    background-color: transparent;
}

form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

input::placeholder{
    font-size: 20px;
}

.upper-sec{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0 20px;
    background-color: #FEF4F9;
    border-radius: 13px;
    width: 60%;
    height: 136px;
    box-shadow: 0px 0px 14px 0px rgba(129, 108, 173, 0.25);
}

@media screen and (max-width: 391px){
    .upper-sec{
        width: 80%;
        margin-top: -64px;
    }
}

.user-image{
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    background-size: contain;
}

@media screen and (max-width: 391px){
    .user-image{
        background-repeat: no-repeat;
    }
}

.input-section{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

button{
    align-self: flex-end;
    background-color: rgba(129, 108, 173, 0.5);
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}