span{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

svg{
    width: 20px;
    height: 20px;
}

p{
    color: white;
    margin-bottom: 0;
}

h1{
    color: white;
    margin-bottom: 0;
}