.user-image{
    width: 307px;
   height: 415.05px;
   background-size: cover;
   background-position: center 0px;
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   flex-direction: column;
   border-radius: 16px 16px 0 0;
}

@media screen and (max-width: 391px) {
    .user-image{
    width: auto;
    height: 467.05px;
    }
}