.login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 27px rgba(129, 108, 173, 0.35);
    justify-content: center;
    width: 22%;
    height: 500px;
    border-radius: 20px;
}

button{
    background-color: #816CAD;
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
}

p{
    cursor: pointer;
}

h1{
    color: #816CAD;
}