form{
    display: flex;
    flex-direction: column;
}

input{
    margin-top: 10px;
    width: 260px;
    height: 45px;
    border: none;
    background-color: #FEF4F9;
    border-radius: 50px;
}

input::placeholder {
    padding-left: 10px;
}

@media screen and (max-width: 391px){
    input{
        width: 303px;
        height: 54px;
    }

    input::placeholder{
        font-size: 18px;
    }
}