.matchesCardSection{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.newMatchSection{
    padding: 0 50px;
}

@media screen and (max-width: 391px) {
    .newMatchSection{
        visibility: hidden;
    }
}

.sideSection{
    width: 30%;
    border-right: solid 1px #D1D1D1;
    background-color: white;
}

@media screen and (max-width: 391px){
    .sideSection{
        width: 100%;
    }
}

.lowContainer{
    display: flex;
}

@media screen and (max-width: 391px){
    .lowContainer{
        flex-direction: column-reverse;
    }
}

.r-side-section{
    width: 70%;
}

@media screen and (max-width: 391px){
    .r-side-section{
        width: 100%;
    }
}

.state-menu{
    display: flex;
}

.post-section{
    display: flex;
    flex-direction: column;
}

post-card{
    display: contents;
}

.app-subtitle{
    font-size: x-large;
    font-weight: 600;
    margin: 24px 0 5px 14px;
}

.app-sb-sidesec{
    color: #C07699;
}